<div class="container mt-3">
   <a href="/addBook" class="btn btn-primary my-3">Add Book</a>
   <table class="table table-hover">
      <thead>
         <tr>
            <th scope="col">Id</th>
            <th scope="col">Name Book</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Actoion</th>
         </tr>
      </thead>
      <tbody>
         <% data.load.forEach(data => { %>
         <tr>
            <th><%= data.id %></th>
            <td><%= data.name %></td>
            <td><%= data.author %></td>
            <td><%= data.publisher %></td>
            <td>
               <a href="/bookEdit/<%= data.id %>" class="badge bg-warning btn"
                  >Edit</a
               >
               <a href="/bookDelete/<%= data.id %>" class="badge bg-danger btn"
                  >Delete</a
               >
            </td>
         </tr>
         <% }) %>
      </tbody>
   </table>
</div>
