<div class="container mt-3">
   <a href="/user/add" class="btn btn-primary my-3">Add User</a>
   <% if (msg.length != 0) { %>
   <div class="alert alert-success fw-bold" role="alert"><%= msg; %></div>
   <% } %>
   <table class="table table-hover">
      <thead>
         <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
         </tr>
      </thead>
      <tbody>
         <% data.users.forEach(user => { %>
         <tr>
            <td><%= user._id %></td>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td>
               <a href="/userEdit/<%= user._id %>" class="badge bg-warning btn"
                  >Edit</a
               >
               <form action="/users?_method=DELETE" method="POST">
                  <input type="hidden" name="id" value="<%= user._id %>" />
                  <button
                     onclick="return confirm('Are you sure ?');"
                     class="badge bg-danger btn"
                  >
                     Delete
                  </button>
               </form>
            </td>
         </tr>
         <% }) %>
      </tbody>
   </table>
</div>
